<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqiu.mapper.MovieMapper">

    <select id="pageQuery" resultType="com.yuqiu.model.vo.MovieVo">
        SELECT
            m.title,
            m.year,
            m.cover,
            m.main_type AS type,
            GROUP_CONCAT(g.name) AS genres
        FROM movie m
        LEFT JOIN movie_genre mg ON m.id = mg.movie_id
        LEFT JOIN genre g ON mg.genre_id = g.id
        <where>
            <if test="genreName != null and genreName != ''">
                AND g.name = #{genreName}
            </if>
            <if test="type != null">
                AND m.main_type = #{type}
            </if>
            AND m.year BETWEEN #{startYear} AND #{endYear}
        </where>
        GROUP BY m.id
        LIMIT #{page}, #{pageSize}
    </select>

</mapper>
